footer{
    position: relative;
    bottom: 0;
    background: var(--cor-beje);
    font-size: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-lateral-geral);

}
