/*Estilos especiais na Seção Destaques*/
.seção-destaques{
    background-image: url(../imagens/fundo-escuro.png);

}

.div-carrossel{
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.cards-carrossel{
    position: relative;
    background: white;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
.cards-carrossel img{
    width: 100%;
    height: 100%;

}
.bt-comprar-agora{
    position: absolute;
    bottom: 10px;
    background: var(--cor-azul);
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;

}

#card1{
    opacity: 0.5;

}
#card2{
    opacity: 1;

}
#card3{
    opacity: 0.5;

}

/*Seção Formulário e Endereço*/
.div-formulário-endereço{
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.div-formulário-endereço form{
    background: var(--cor-beje);
    border: 30px solid #ebeced;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 500px;
    height: 430px;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);

}
.div-formulário-endereço form h2{
    font-size: 20px;

}

.div-inputs-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.div-inputs-button input{
    width: 300px;
    height: 35px;
    padding: 0 10px;

}
.div-inputs-button button{
    background: var(--cor-azul);
    border: none;
    color: white;
    padding: 10px 20px;
    width: 300px;
    cursor: pointer;
    transition: 0.5s ease;

}
.div-inputs-button button:hover{
    background: var(--cor-marrom);

}

.div-insta-face{
    background: hotpink;
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.div-endereço{
    background: var(--cor-beje);
    border: 30px solid #ebeced;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 500px;
    height: 430px;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);

}
.div-endereço h2{
    font-size: 20px;

}
.div-endereço h3{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: normal;

}

.icons{
    width: 40px;
    height: 40px;

}